<main>
  <div id="movies">
    <h3 id="goal">
      <span>The Goal:</span> Watch every Marvel movie in some predetermined
      order (or no order), during the month of March (or any month).
    </h3>
    <div id="title">
      <h2>
        The
      </h2>
      <img
        id="marvelTitleLogo"
        src="./../../assets/marvel.png"
        alt="Marvel Logo"
      />
      <h2>Cinematic Universe</h2>
    </div>

    <div id="listName">
      <div id="buttons">
        <button
          [ngClass]="order == false ? 'selected' : 'unselected'"
          (click)="sortSuggestedOrder()"
        >
          Suggested Order
        </button>
        <button
          [ngClass]="order == true ? 'selected' : 'unselected'"
          (click)="sortTimelineOrder()"
        >
          Timeline Order
        </button>
      </div>
    </div>
    <div id="films">
      <div class="film" *ngFor="let movie of movies; index as i">
        <h3 class="movieTitle">{{ movie.name }}</h3>
        <div class="filmInfoContainer">
          <img
            class="poster"
            src="./../../assets/{{ movie.poster }}"
            alt="Image of {{ movie.name }}"
          />
          <div class="checklist">
            <div class="checkbox" (click)="checkBox(i)">
              <i *ngIf="movie.watched" class="fas fa-check"></i>
            </div>

            <img
              src="./../../assets/{{ movie.streaming }}"
              alt="Streaming Service"
              class="logos"
            />
          </div>
          <div class="moreInfo hideMobile">
            <p class="summary"><span>Summary:</span> {{ movie.description }}</p>
            <p>
              Stan Lee Cameo: <span>{{ movie.stanLee }}</span>
            </p>
            <p>
              Number of credit scenes :
              <span> {{ movie.postScene }} </span>
            </p>

            <a href="{{ movie.imdb }}"
              ><img src="./../../assets/imdb.png" alt="imdb logo" class="logos"
            /></a>
          </div>
        </div>
        <button class="showMobile" (click)="showMoreInfo(i)">More Info</button>
        <div class="moreInfo" *ngIf="movie.moreInfo">
          <p><span>Summary:</span> {{ movie.description }}</p>
          <p>
            Stan Lee Cameo: <span>{{ movie.stanLee }}</span>
          </p>
          <p>
            Number of credit scenes :
            <span> {{ movie.postScene }} </span>
          </p>

          <a href="{{ movie.imdb }}"
            ><img src="./../../assets/imdb.png" alt="imdb logo" class="logos"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <button (click)="showDefinition()">What is Marvel March?</button>
  <div id="directions" *ngIf="showDirections">
    <p>
      Marvel March is the month when we celebrate the Marvel Cinematic Universe,
      by watching all the Marvel Movies in what ever order you want.
    </p>
    <p>
      Above are two different orders, one is the chronological order based on
      when each movie takes place. The other is my variation of when the movies
      were released. Some of the order is flipped based on my opinion of when
      you should watch them.
    </p>
    <p>
      I've built this as something to do while being self-isolated during the
      Coronavirus outbreak, but that shouldn't stop you from using this resource
      to watch anytime. It doesn't have to be March to watch all the Marvel
      movies, it can be any month. Although it won't have the alliteration of
      Marvel March, it will still be just as fun.
    </p>
  </div>
  <button (click)="showViewingOptions()">
    Where do I watch these Movies?
  </button>
  <div id="viewingOptions" *ngIf="viewingOptions">
    <p>
      Since Disney owns Marvel most can be found on Disney +, others can be
      found on different streaming services, but all will require the necessary
      subscriptions.
    </p>
    <div class="subscriptions">
      <img
        class="logos"
        src="./../../assets/disneyPlus.svg"
        alt="Disney Plus logo"
      />
      <p>7 Day Free Trial/ $6.99 a month</p>
    </div>
    <div class="subscriptions">
      <img class="logos" src="./../../assets/netflix.png" alt="Netflix logo" />
      <p>1 month Free Trial/ starting at $9.00 a month</p>
    </div>
    <div class="subscriptions">
      <img class="logos" src="./../../assets/starz.png" alt="Starz logo" />
      <p>Current Deal $5 per month for 3 months</p>
    </div>
    <div class="subscriptions">
      <img
        class="logos"
        src="./../../assets/amazonVideo.png"
        alt="Amazon logo"
      />
      <p>Price to rent of variable costs</p>
    </div>
  </div>
</main>
