<header>
  <div id="title">
    <img src="./../assets/marvel.png" alt="marvel logo" />
    <h1>March</h1>
  </div>
</header>
<app-check-list></app-check-list>
<footer>
  <p>Built by Henry O.:</p>
  <div id="links">
    <a href="https://github.com/Henry-Overholt"
      ><i class="fab fa-github-square"></i
    ></a>
    <a href="https://www.linkedin.com/in/henry-overholt/"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
  <p id="disclaimer">
    *I do not own the rights to Marvel, obviously. I built this as a Marvel fan,
    to give anyone who wants something to do while they self quarantine due to
    COVID-19.
  </p>
  <a href="">
    <img id="personalLogo" src="./../assets/tabICON.png" alt="Henry Overholt" />
  </a>
</footer>
